
html {  
background-color: #FFFFE0;
    background-image: url(../img/tartan.png);
} 

a, li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Global CSS that are applied for all screen sizes */

.nav ul {
	max-width: 1240px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	font-weight: 300;
}

.nav li span {
	display: block;
}

.nav a {
	display: block;
	color: rgba(0, 0, 0, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;

}

.nav i{
	/* Make the font smoother for Chrome */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */

a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */

.no-touch .nav ul:hover a {
	color: gray;
}

.no-touch .nav ul li:nth-child(6n+1):hover a:hover {
    
    color: brown;

text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px red,
  0 0 22px red,
  0 0 28px red,
  0 0 36px red;

}
.no-touch .nav ul li:nth-child(6n+2):hover a:hover {
    color: brown;

text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px pink,
  0 0 22px pink,
  0 0 28px red,
  0 0 36px red;
}
.no-touch .nav ul li:nth-child(6n+3):hover a:hover {
    color: brown;

text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px yellow,
  0 0 22px yellow,
  0 0 28px yellow,
  0 0 36px yellow;

}
.no-touch .nav ul li:nth-child(6n+4):hover a:hover {
    color: brown;
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px rgb(173, 255, 103),
  0 0 22px rgb(173, 255, 103),
  0 0 28px rgb(173, 255, 103),
  0 0 36px rgb(173, 255, 103);
}
.no-touch .nav ul li:nth-child(6n+5):hover a:hover {
    color: black;
    
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px blue,
  0 0 22px blue,
  0 0 28px blue,
  0 0 36px blue;

}
.no-touch .nav ul li:nth-child(6n+6):hover a:hover {
    color: purple;
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px purple,
  0 0 22px purple,
  0 0 28px purple,
  0 0 36px purple;

}
.no-touch .nav ul li:nth-child(6n+7):hover a:hover {
    color: white;
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px black,
  0 0 22px black,
  0 0 28px black,
  0 0 36px black;}

/* Adding some background color to the different menu items */

.nav li:nth-child(6n+1) {
	background: rgb(238, 127, 116);
}

.nav li:nth-child(6n+2) {

	background: rgb(255, 186, 187);
}

.nav li:nth-child(6n+3) {

	background: rgb(251, 217, 124);
}

.nav li:nth-child(6n+4) {

	background: rgb(173, 255, 173);
}

.nav li:nth-child(6n+5) {

	background: rgb(186, 179, 251);
}

.nav li:nth-child(6n+6) {

	background: rgb(190, 115, 226);
}
.nav li:nth-child(6n+7) {

	background: rgb(250,250,250);
}

/* For screen bigger than 800px */
@media (min-width: 50em) {
       .line-drawing{
	position: relative;
	margin: 0 auto 0px;
    background-color:white;
     -moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
  box-shadow:0 0 0px 1px rgba(255,255,255,1.0) inset;
}
.codrops-logo {
	position: relative;
	margin: 0 auto;
    padding-bottom: 48.7%;
	viewBox: 0 0 1368.906 661.151; 
    preserveAspectRatio: xMidYMid meet;
    background: url(../img/top_14.svg) no-repeat 50% 50%;
    background-color: #ffffff;
    
 -moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
  box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset, 0 0 0px 1px rgba(0,0,0,1.0) inset;

}

	/* Transforms the list into a horizontal navigation */
	.nav li {
		float: left;
		width: 14.2857142857142%;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
           -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset,1px 1px 1px rgba(232,232,232,1) inset; 

	}

	.nav a {
		display: block;
		width: auto;
         -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
	}

	/* hover, focused and active effects that add a little colored border to the different items */
.no-touch .nav li:nth-child(6n+1) a:hover,
	.no-touch .nav li:nth-child(6n+1) a:active,
	.no-touch .nav li:nth-child(6n+1) a:focus {
		border-bottom: 10px solid rgb(222, 0, 0);
                background-image: linear-gradient(90deg, rgba(238, 127, 116, 0.5) 50%, transparent 50%), linear-gradient(rgba(238, 127, 116, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;

	}

	.no-touch .nav li:nth-child(6n+2) a:hover,
	.no-touch .nav li:nth-child(6n+2) a:active,
	.no-touch .nav li:nth-child(6n+2) a:focus {
		border-bottom: 20px solid rgb(255, 120, 255);
                background-image: linear-gradient(90deg, rgba(255, 186, 187, 0.5) 50%, transparent 50%), linear-gradient(rgba(255, 186, 187, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;

	}

	.no-touch .nav li:nth-child(6n+3) a:hover,
	.no-touch .nav li:nth-child(6n+3) a:active,
	.no-touch .nav li:nth-child(6n+3) a:focus {
		border-bottom: 30px solid rgb(244, 233, 0);
                background-image: linear-gradient(90deg, rgba(251, 217, 124, 0.5) 50%, transparent 50%), linear-gradient(rgba(251, 217, 124, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;

	}

	.no-touch .nav li:nth-child(6n+4) a:hover,
	.no-touch .nav li:nth-child(6n+4) a:active,
	.no-touch .nav li:nth-child(6n+4) a:focus {
		border-bottom: 40px solid rgb(0, 233, 0);
                background-image: linear-gradient(90deg, rgba(173, 255, 173, 0.5) 50%, transparent 50%), linear-gradient(rgba(173, 255, 173, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;

	}

	.no-touch .nav li:nth-child(6n+5) a:hover,
	.no-touch .nav li:nth-child(6n+5) a:active,
	.no-touch .nav li:nth-child(6n+5) a:focus {
		border-bottom: 30px solid rgb(19, 18, 195);
                background-image: linear-gradient(90deg, rgba(186, 179, 251, 0.5) 50%, transparent 50%), linear-gradient(rgba(186, 179, 251, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;

	}

	.no-touch .nav li:nth-child(6n+6) a:hover,
	.no-touch .nav li:nth-child(6n+6) a:active,
	.no-touch .nav li:nth-child(6n+6) a:focus {
		border-bottom: 20px solid rgb(191, 0, 191);
        background-image: linear-gradient(90deg, rgba(190, 115, 226, 0.5) 50%, transparent 50%), linear-gradient(rgba(190, 115, 226, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;
	}
    .no-touch .nav li:nth-child(6n+7) a:hover,
	.no-touch .nav li:nth-child(6n+7) a:active,
	.no-touch .nav li:nth-child(6n+7) a:focus {
		border-bottom: 10px solid rgb(9, 18, 25);
background-image: linear-gradient(90deg, rgba(100,100, 100, 0.5) 50%, transparent 50%), linear-gradient(rgba(100,100, 100, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;	}

	/* Placing the icon */
	
	.icon {
    	padding-top: 1.4em;
    
	}

	.icon + span {
    color: rgba(0, 0, 0, .9);
    	margin-top: 0.2em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}
    
	/* Animating the height of the element*/
	.nav a {
		height: 7em;
	}

	.no-touch .nav a:hover ,
	.nav a:active ,
	.nav a:focus {
		height: 8em;
	}	

	/* Making the text follow the height animation */
	.no-touch .nav a:hover .icon + span{
        margin-top: -1.0em;
        font-size: 1.3em;
	    font-weight: 300;

		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}
	/* Positioning the icons and preparing for the animation*/
	.nav i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
		border-radius: 50%;
		font-size: 1.8em;
		box-shadow: 0 0 0 30px transparent;
		background: rgba(255,255,255,0.1);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: box-shadow .6s ease-in-out;
		-moz-transition: box-shadow .6s ease-in-out;
		-o-transition: box-shadow .6s ease-in-out;
		-ms-transition: box-shadow .6s ease-in-out;
		transition: box-shadow .6s ease-in-out;
	}	
	
	/* Animate the box-shadow to create the effect */
	.no-touch .nav a:hover i,
	.no-touch .nav a:active i,
	.no-touch .nav a:focus i {		
		box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}
		
}

@media (min-width: 50em) and (max-width: 61.250em) {

	/* Size and font adjustments to make it fit into the screen*/
	.nav ul {
		font-size: 1.2em;
	}

}

/* The "tablet" and "mobile" version */

@media (max-width: 49.938em) {		


	/* Instead of adding a border, we transition the background color */
	.no-touch .nav ul li:nth-child(6n+1) a:hover,
	.no-touch .nav ul li:nth-child(6n+1) a:active,
	.no-touch .nav ul li:nth-child(6n+1) a:focus {
                background-image: linear-gradient(90deg, rgba(238, 127, 116, 0.5) 50%, transparent 50%), linear-gradient(rgba(238, 127, 116, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;
	}

	.no-touch .nav ul li:nth-child(6n+2) a:hover,
	.no-touch .nav ul li:nth-child(6n+2) a:active,
	.no-touch .nav ul li:nth-child(6n+2) a:focus {
                background-image: linear-gradient(90deg, rgba(255, 186, 187, 0.5) 50%, transparent 50%), linear-gradient(rgba(255, 186, 187, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;
}

	.no-touch .nav ul li:nth-child(6n+3) a:hover,
	.no-touch .nav ul li:nth-child(6n+3) a:active,
	.no-touch .nav ul li:nth-child(6n+3) a:focus {
                background-image: linear-gradient(90deg, rgba(251, 217, 124, 0.5) 50%, transparent 50%), linear-gradient(rgba(251, 217, 124, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;
	}

	.no-touch .nav ul li:nth-child(6n+4) a:hover,
	.no-touch .nav ul li:nth-child(6n+4) a:active,
	.no-touch .nav ul li:nth-child(6n+4) a:focus {
                background-image: linear-gradient(90deg, rgba(173, 255, 173, 0.5) 50%, transparent 50%), linear-gradient(rgba(173, 255, 173, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;
	}

	.no-touch .nav ul li:nth-child(6n+5) a:hover,
	.no-touch .nav ul li:nth-child(6n+5) a:active,
	.no-touch .nav ul li:nth-child(6n+5) a:focus {
                background-image: linear-gradient(90deg, rgba(186, 179, 251, 0.5) 50%, transparent 50%), linear-gradient(rgba(186, 179, 251, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;
	}

	.no-touch .nav ul li:nth-child(6n+6) a:hover,
	.no-touch .nav ul li:nth-child(6n+6) a:active,
	.no-touch .nav ul li:nth-child(6n+6) a:focus {
        background-image: linear-gradient(90deg, rgba(190, 115, 226, 0.5) 50%, transparent 50%), linear-gradient(rgba(190, 115, 226, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;
	}
    .no-touch .nav ul li:nth-child(6n+7) a:hover,
	.no-touch .nav ul li:nth-child(6n+7) a:active,
	.no-touch .nav ul li:nth-child(6n+7) a:focus {
background-image: linear-gradient(90deg, rgba(100,100, 100, 0.5) 50%, transparent 50%), linear-gradient(rgba(100,100, 100, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;
    }


	.nav ul li {
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		-o-transition: background 0.5s;
		-ms-transition: background 0.5s;
		transition: background 0.5s;
	}	

}

/* CSS specific to the 2x3 columns version */
@media (min-width:32.5em) and (max-width: 49.938em) {
    .movingUpmenu{
margin-top: 20px;
    }
       .line-drawing{
position: relative;
	margin: 0 auto 0px;
    background-color:white;
     -moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
  box-shadow:0 0 0px 1px rgba(255,255,255,1.0) inset;
}
	.codrops-logo {
	position: relative;
	margin: 0 auto;
    padding-bottom: 48.7%;
	viewBox: 0 0 1368.906 661.151; 
    preserveAspectRatio: xMidYMid meet;
    background: url(../img/top_14.svg) no-repeat 50% 50%;
    background-color: #ffffff;
    
 -moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
  box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset, 0 0 0px 1px rgba(0,0,0,1.0) inset;

}

	/* Creating the 2 column layout using floating elements once again */
	.nav li {
		display: block;
		float: left;
		width: 50%;
       
border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset,1px 1px 1px rgba(232,232,232,1) inset; 

    
    }
    .nav li:nth-child(6n+3){
        clear:both;
    }
	
    .nav li:nth-child(6n+5){
        clear:both;
    }
	.nav li:nth-child(6n+7){
        clear:both;
    }
	
	/* Adding some padding to make the elements look nicer*/
	.nav a {
		padding: 0.8em;
        border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset,1px 1px 1px rgba(232,232,232,1) inset; 
        
	}

	/* Displaying the icons on the left, and the text on the right side using inlin-block*/
	.nav li span, 
	.nav li span.icon {
		display: inline-block;
	}

	.nav li span.icon {
		width: ;
	}

	.nav li .icon + span {
		font-size: 1em;
	}

	.icon + span {
		position: relative;
		top: -0.2em;
	}

	/* Adaptating to the icons to animate the size and border of the rounded background in a more discreet way */
	.nav li i {
		display: inline-block;
		padding: 8% 9%;
		border: 4px solid transparent;
		border-radius: 50%;
		font-size: 1.5em;
		background: rgba(255,255,255,0.1);
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

	/* Transition effect on the border color */
	.no-touch .nav li:hover i,
	.no-touch .nav li:active i,
	.no-touch .nav li:focus i {
		border: 4px solid rgba(255,255,255,0.1);
	}
	
}

/* Adapting the font size and width for smaller screns*/
@media (min-width: 32.5em) and (max-width: 38.688em) {

	.nav li span.icon {
		width: 50%;
	}

	.nav li .icon + span {
		font-size: 0.9em;
	}
}

/* Styling the toggle menu link and hiding it */
.nav .navtoogle{
	display: none;	
	width: 100%;
	padding: 0.5em 0.5em 0.8em;
	font-family: 'Lato',Calibri,Arial,sans-serif;
	font-weight: normal;
	text-align: left;
	color: rgb(7, 16, 15);
	font-size: 1.2em;
	background: none;	
	border: none;
	border-bottom: 4px solid rgb(221, 221, 221);
	cursor: pointer;
}

.navtoogle i{
	z-index:-1;
}

.icon-menu {
	position: relative;
	top: 3px;
	line-height: 0;
	font-size: 1.6em;
}

@media (max-width: 32.438em) {
    .line-drawing{
	position: relative;
	margin: 0 auto 0px;
    background-color:white;
     -moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
  box-shadow:0 0 0px 1px rgba(255,255,255,1.0) inset;
}

	.codrops-logo {
	position: relative;
	margin: 0 auto;
    padding-bottom: 48.7%;
	viewBox: 0 0 1368.906 661.151; 
    preserveAspectRatio: xMidYMid meet;
    background: url(../img/top_14.svg) no-repeat 50% 50%;
    background-color: #ffffff;
    
  box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset, 0 0 0px 5px rgba(0,0,0,1.0) inset;

}

	/* Unhiding the styled menu link */
	.nav .navtoogle{
		margin: 0;
		display: block;
	}
	
	/* Animating the height of the navigation when the button is clicked */
	
	/* When JavaScript is disabled, we hide the menu */
	.no-js .nav ul {
		max-height: 30em;
		overflow: hidden;
	}
	
	/* When JavaScript is enabled, we hide the menu */
	.js .nav ul {
		max-height: 0em;
		overflow: hidden;
	}
	
	/* Displaying the menu when the user has clicked on the button*/
	.js .nav .active + ul {		
		max-height: 30em;
		overflow: hidden;
		-webkit-transition: max-height .4s;
		-moz-transition: max-height .4s;
		-o-transition: max-height .4s;
		-ms-transition: max-height .4s;
		transition: max-height .4s;
	}

	/* Adapting the layout of the menu for smaller screens : icon on the left and text on the right*/
	
	.nav li span {
		display: inline-block;
		height: 100%;
	}

	.nav a {
		padding: 0.5em;		
	}
	
	.icon + span {
		margin-left: 1em;
		font-size: 0.8em;
	}
	
	/* Adding a left border of 8 px with a different color for each menu item*/
	.nav li:nth-child(6n+1) {
	background: rgb(238, 127, 116);
}

.nav li:nth-child(6n+2) {
	background: rgb(255, 186, 187);
}

.nav li:nth-child(6n+3) {
	background: rgb(251, 217, 124);
}

.nav li:nth-child(6n+4) {
	background: rgb(173, 255, 173);
}

.nav li:nth-child(6n+5) {
	background: rgb(186, 179, 251);
}

.nav li:nth-child(6n+6) {
	background: rgb(190, 115, 226);
}
.nav li:nth-child(6n+7) {
	background: rgb(100,100, 100);
}

	/* make the nav bigger on touch screens */
	.touch .nav a {
		padding: 0.8em;
	}
}


svg {
	pointer-events: none;
}


.show {
	opacity: 1;
}

.hide {
	opacity: 0;
}


.line-drawing path {
	fill: none;
	stroke: #8989ff;
	stroke-width: 3;
}

path.line-round {
	stroke-linecap: round;
}

path.stroke-medium {
	stroke-width: 2;
}

path.stroke-thin {
	stroke-width: 1;
}

/* Demo 2 and demo 3 */
.demo-loading .show, 
.demo-loading .hide {
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}



/* test */
.showout {
    padding-bottom: 0;
    opacity: 1;
    transition: padding-bottom 2s ease-in, opacity 0.5s linear;
}
.stripe{
    -moz-animation-name: bg-color;
 -moz-animation-duration: 3s;
 -moz-animation-timing-function: ease-in;
 -moz-animation-iteration-count: 1;

 -webkit-animation-name: bg-color;
 -webkit-animation-duration: 3s;
 -webkit-animation-timing-function: ease-in;
 -webkit-animation-iteration-count: 1;

 -o-animation-name: bg-color;
 -o-animation-duration: 3s;
 -o-animation-timing-function: ease-in;
 -o-animation-iteration-count: 1;

 -ms-animation-name: bg-color;
 -ms-animation-duration: 3s;
 -ms-animation-timing-function: ease-in;
 -ms-animation-iteration-count: 1;

    height: 3px;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset; 
background-image: linear-gradient(120deg, rgba(0,0, 0, 0.5) 50%, transparent 0%), linear-gradient(rgba(255,255, 255, 0.5) 50%, transparent 50%); background-size: 5px 5px; background-color: white;    
}


/*チームの画像が左より。*/
.silver{
    color:white;
   width: 50%;
   background-repeat: no-repeat;
         float: left;
         margin-right: 1em;
 

}
img.zyun2{
    height: auto;
border-radius: 16px;

}

img.zyun{
    max-width: 100px;
    height: auto;
    position: relative;
    z-index: 1000;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

}
img.zyun:hover{
    position: relative;
    z-index: 1000;
    height: auto;
-webkit-transform:translate(50px,60px) scale(2);
    -moz-transform:translate(50px,60px) scale(2);
    -o-transform:translate(50px,60px) scale(2);
    -ms-transform:translate(50px,60px) scale(2);
    transform:translate(50px,60px) scale(2);
}

.zyun-channel{
    background-color: white;
        border-radius: 39px; 
height: 139px;
}
.gin-channel{
    background-color: rgba(255,255,232,0.7);
    border-radius: 39px; 
height: 139px;
}
.master-channel{
    background-color: none;
    border-radius: 39px; 
    height:139px;
}
.ribbon {
    position: relative;
    color: #ffffff ;
    background-image: url(../img/head011_11.png);
    line-height: 1;
    margin: 20px 0px 20px -10px;
    padding: 10px 5px 10px 20px;
    box-shadow:2px 4px 5px 0px  #ccc;
    border-top:5px solid #ea9878;
}
.ribbon:after, .ribbon:before {
    content: "";
    position: absolute;
    top: 100%;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top: 5px solid #b86d77;
}
.ribbon:after {
    left: 0;
    border-right: 5px solid #b86d77;

}
.ribbon:before {
    right: 0;
    border-left: 5px solid #b86d77;
}


.rocks{
font-family:'icomoon';
    color: white;
     -webkit-text-stroke: 1px white;
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px black,
  0 0 22px black,
  0 0 28px black,
  0 0 36px black;
}
.rocks2{
font-family:'icomoon';
    color: brown;
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px pink,
  0 0 22px pink,
  0 0 28px white,
  0 0 36px pink;
 
}
.rocks2_2{
font-family:'icomoon';
    color: brown;
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px yellow,
  0 0 22px yellow,
  0 0 28px white,
  0 0 36px yellow;
 
}
.rocks3{
    padding-top: 20px;
font-family:'icomoon';
    color: black;
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px black,
  0 0 22px yellow,
  0 0 28px white,
  0 0 36px black;

}
.rocks4{
    padding-top: 100px;
font-family:'icomoon';
    color: brown;
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px pink,
  0 0 22px white,
  0 0 28px white,
  0 0 36px pink;

}
.rocks5{
    padding-top: 80px;
font-family:'icomoon';
    color: brown;
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px yellow,
  0 0 22px white,
  0 0 28px white,
  0 0 36px yellow;

}
.rocks6{
padding-top: 20px;
font-family:'icomoon';
    color: brown;
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px pink,
  0 0 22px pink,
  0 0 28px white,
  0 0 36px pink;
 
}
.zyun_name{
    background-color:  rgb(173, 255, 173);
     border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
    box-shadow:5px 6px 6px rgba(255,255,255,0.3), 10px 11px 10px rgba(255,255,255,1) inset, 5px -6px 6px rgba(255,255,255,0.5) inset; 

}
.master_name{
    background-color: rgb(186, 179, 251);
     border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
    box-shadow:5px 6px 6px rgba(255,255,255,0.3), 10px 11px 10px rgba(255,255,255,1) inset, 5px -6px 6px rgba(255,255,255,0.5) inset; 
}
.gin_name{
    background-color: rgb(255, 127, 116);
     border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
    box-shadow:5px 6px 6px rgba(254,199,199,0.3), 10px 11px 10px rgba(254,199,199,1) inset, 5px -6px 6px rgba(254,199,199,0.5) inset; 
}

.icon-play{
    font-size: 500px;
    color: white;
text-shadow: 0 15px 10px rgba(0,0,0,0.1),
  0 0  4px #fff,
  0 0  8px #fff,
  0 0 12px #fff,
  0 0 18px yellow,
  0 0 22px yellow,
  0 0 28px white,
  0 0 36px yellow;


}

.movingUpmenu{
-moz-animation-name: fadeInLoad;
 -moz-animation-duration: 3s;
 -moz-animation-timing-function: ease-in;
 -moz-animation-iteration-count: 1;

 -webkit-animation-name: fadeInLoad;
 -webkit-animation-duration: 3s;
 -webkit-animation-timing-function: ease-in;
 -webkit-animation-iteration-count: 1;

 -o-animation-name: fadeInLoad;
 -o-animation-duration: 3s;
 -o-animation-timing-function: ease-in;
 -o-animation-iteration-count: 1;

 -ms-animation-name: fadeInLoad;
 -ms-animation-duration: 3s;
 -ms-animation-timing-function: ease-in;
 -ms-animation-iteration-count: 1;
}
@-moz-keyframes fadeInLoad {
    0% {
        opacity:0;
        height:0%;
    }
    33% {
        opacity:0;
        
    }
    66% {
        opacity:0;
        width:80%;
     
    }
    100% {
        opacity:1;
        width:100%;
        height:100%;
      
   
    }
 }

 @-webkit-keyframes fadeInLoad {
    0% {
        opacity:0;
        height:0%;
    }
    33% {
        opacity:0;
        
    }
    66% {
        opacity:0;
        width:80%;
     
    }
    100% {
        opacity:1;
        width:100%;
        height:100%;
      
   
    }
 }

 @-o-keyframes fadeInLoad {
    0% {
        opacity:0;
        height:0%;
    }
    33% {
        opacity:0;
        
    }
    66% {
        opacity:0;
        width:80%;
     
    }
    100% {
        opacity:1;
        width:100%;
        height:100%;
      
   
    }
 }

 @-ms-keyframes fadeInLoad {
    0% {
        opacity:0;
        height:0%;
    }
    33% {
        opacity:0;
        
    }
    66% {
        opacity:0;
        width:80%;
     
    }
    100% {
        opacity:1;
        width:100%;
        height:100%;
      
   
    }
 }



.header-counter{
    text-align:right;
}
#Home{
width:100%;
    position: relative;
}

.Home{
padding-top: 30px;
padding-left50:50px;
}
#team{


}
#service{
    margin-top: 20px;
height: 320px;
border-radius:8px;
    color:white;
    background-image: url(../img/maintanace.png);
background-repeat: repeat;

}

.border-top{
 -moz-animation-name: ;
 -moz-animation-duration: 5s;
 -moz-animation-timing-function: ease-out;
 -moz-animation-iteration-count: 1;

 -webkit-animation-name:;
 -webkit-animation-duration: 2s;
 -webkit-animation-timing-function: ease-out;
 -webkit-animation-iteration-count: 1;
    
/*testcode*/
    

 -o-animation-name: ;
 -o-animation-duration: 5s;
 -o-animation-timing-function: ease-out;
 -o-animation-iteration-count: 1;

 -ms-animation-name: ;
 -ms-animation-duration: 5s;
 -ms-animation-timing-function: ease-out;
 -ms-animation-iteration-count: 1;
background-color: #ffffff;
height: 8px;
left: 0;
position: fixed;
top: 0;
width: 100%;
z-index: 200
}
.border-right-opening {
 -moz-animation-name: bg-color-opening-right;
 -moz-animation-duration: 1s;
 -moz-animation-timing-function: ease-out;
 -moz-animation-iteration-count: 1;

 -webkit-animation-name: bg-color-opening-right;
 -webkit-animation-duration: 1s;
 -webkit-animation-timing-function: ease-out;
 -webkit-animation-iteration-count: 1;

 -o-animation-name: bg-color-opening-right;
 -o-animation-duration: 1s;
 -o-animation-timing-function: ease-out;
 -o-animation-iteration-count: 1;

 -ms-animation-name: bg-color-opening-right;
 -ms-animation-duration: 1s;
 -ms-animation-timing-function: ease-out;
 -ms-animation-iteration-count: 1;

height: 180%;
position: fixed;
right: 0;
top: 0;
width: 0px;
z-index: 20000;
}
.border-right{
 -moz-animation-name: ;
 -moz-animation-duration: 5s;
 -moz-animation-timing-function: ease-out;
 -moz-animation-iteration-count: 1;

 -webkit-animation-name:;
 -webkit-animation-duration: 5s;
 -webkit-animation-timing-function: ease-out;
 -webkit-animation-iteration-count: 1;

 -o-animation-name: ;
 -o-animation-duration: 5s;
 -o-animation-timing-function: ease-out;
 -o-animation-iteration-count: 1;

 -ms-animation-name:;
 -ms-animation-duration: 5s;
 -ms-animation-timing-function: ease-out;
 -ms-animation-iteration-count: 1;
background-color: #ffffff;
height: 180%;
position: fixed;
right: 0;
top: 0;
width: 8px;
z-index: 40000;
}
.border-left-opening {
 -moz-animation-name: bg-color-opening;
 -moz-animation-duration: 1s;
 -moz-animation-timing-function: ease-out;
 -moz-animation-iteration-count: 1;

 -webkit-animation-name: bg-color-opening;
 -webkit-animation-duration: 1s;
 -webkit-animation-timing-function: ease-out;
 -webkit-animation-iteration-count: 1;

 -o-animation-name: bg-color-opening;
 -o-animation-duration: 1s;
 -o-animation-timing-function: ease-out;
 -o-animation-iteration-count: 1;

 -ms-animation-name: bg-color-opening;
 -ms-animation-duration: 1s;
 -ms-animation-timing-function: ease-out;
 -ms-animation-iteration-count: 1;


height: 180%;
left: 0;
position: fixed;
top: 0;
width: 0px;
z-index: 20000;
}

.border-left{
 -moz-animation-name:;
 -moz-animation-duration: 5s;
 -moz-animation-timing-function: ease-out;
 -moz-animation-iteration-count: 1;

 -webkit-animation-name:;
 -webkit-animation-duration: 5s;
 -webkit-animation-timing-function: ease-out;
 -webkit-animation-iteration-count: 1;

 -o-animation-name: ;
 -o-animation-duration: 5s;
 -o-animation-timing-function: ease-out;
 -o-animation-iteration-count: 1;

 -ms-animation-name:;
 -ms-animation-duration: 5s;
 -ms-animation-timing-function: ease-out;
 -ms-animation-iteration-count: 1;

background-color: #ffffff;
height: 180%;
left: 0;
position: fixed;
top: 0;
width: 8px;
z-index: 40000;
}

.border-bottom {
    opacity: 0.2;
     background-image:url(../img/top_mini_8.svg);
    border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
    box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 5px -6px 6px rgba(0,0,0,0.3) inset; 

 -moz-animation-name: bg-color;
 -moz-animation-duration: 5s;
 -moz-animation-timing-function: ease-out;
 -moz-animation-iteration-count: 1;

 -webkit-animation-name:bg-color-vt;
 -webkit-animation-duration: 2s;
 -webkit-animation-timing-function: ease-out;
 -webkit-animation-iteration-count: 1;

 -o-animation-name: bg-color;
 -o-animation-duration: 5s;
 -o-animation-timing-function: ease-out;
 -o-animation-iteration-count: 1;

 -ms-animation-name: bg-color;
 -ms-animation-duration: 5s;
 -ms-animation-timing-function: ease-out;
 -ms-animation-iteration-count: 1;

bottom: 0;
height: 100%;
left: 0;
position: fixed;
width: 100%;
z-index: 20000;
}
@-moz-keyframes bg-color {
 0% {
     background-color: #eee;
     width: 0%;
     height: 3px;
 }
 100% {
     background-color: #f75f6f;
     width:100%;
     height: 3px;
 }
 }

 @-webkit-keyframes bg-color {
 0% {
     background-color: #eee;
     height: 3px;
     width: 0%;
 }
 100% {
     background-color: #f75f6f;
     height: 3px;
     width:100%;
 }
 }

 @-o-keyframes bg-color {
 0% {
     background-color: #eee;
     width: 0%;
     height: 3px;
 }
 100% {
     background-color: #f75f6f;
     width:100%;
     height: 3px;
 }
 }

 @-ms-keyframes bg-color {
 0% {
     background-color: #eee;
     width: 0%;
     height: 3px;
 }
 100% {
     background-color: #f75f6f;
     width:100%;
     height: 3px;
 }
 }
@-moz-keyframes bg-color-vt {
 0% {
background-image: linear-gradient(90deg, rgba(100,100, 100, 0.5) 50%, transparent 50%), linear-gradient(rgba(100,100, 100, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;     
     height: 100%;
 }
 100% {
background-image: linear-gradient(90deg, rgba(100,100, 100, 0.5) 50%, transparent 50%), linear-gradient(rgba(100,100, 100, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;     
     height:0%;
 }
 }

 @-webkit-keyframes bg-color-vt {
 0% {
background-image: linear-gradient(90deg, rgba(100,100, 100, 0.5) 50%, transparent 50%), linear-gradient(rgba(100,100, 100, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;     
     height: 100%;
 }
 100% {
background-image: linear-gradient(90deg, rgba(100,100, 100, 0.5) 50%, transparent 50%), linear-gradient(rgba(100,100, 100, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;     
     height:0%;
 }
 }

 @-o-keyframes bg-color-vt {
 0% {
background-image: linear-gradient(90deg, rgba(100,100, 100, 0.5) 50%, transparent 50%), linear-gradient(rgba(100,100, 100, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;     
     height: 100%;
 }
 100% {
background-image: linear-gradient(90deg, rgba(100,100, 100, 0.5) 50%, transparent 50%), linear-gradient(rgba(100,100, 100, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;     
     height:0%;
 }
 }

 @-ms-keyframes bg-color-vt {
  0% {
background-image: linear-gradient(90deg, rgba(100,100, 100, 0.5) 50%, transparent 50%), linear-gradient(rgba(100,100, 100, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;     
     height: 100%;
 }
 100% {
background-image: linear-gradient(90deg, rgba(100,100, 100, 0.5) 50%, transparent 50%), linear-gradient(rgba(100,100, 100, 0.5) 50%, transparent 50%); background-size: 50px 50px; background-color: white;     
     height:0%;
 }
}


@-moz-keyframes bg-color-opening{
 0% {
     box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset;

     background-color: #ffffff;
     width: 100%;
 }
 100% {
box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset;

     background-color: #ffffff;
     width:0%;
 }
 }

 @-webkit-keyframes bg-color-opening {
 0% {
     box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset;

     background-color: #ffffff;
     width: 100%;
 }
 100% {
box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset;

     background-color: #ffffff;
     width:0%;
 }
 }

 @-o-keyframes bg-color-opening {
 0% {
     box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset;

     background-color: #ffffff;
     width: 100%;
 
}
 100% {
box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset;

     background-color: #ffffff;
     width:0%;
}
}

 @-ms-keyframes bg-color-opening {
 0% {
     box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset;

     background-color: #ffffff;
     width: 100%;
}
 100% {
box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset;

     background-color: #ffffff;
     width:0%;
}
}

 @-webkit-keyframes bg-color-opening-right {
 0% {
     box-shadow:5px 6px 6px rgba(255,255,255,0.2), 10px 11px 10px rgba(255,255,255,0.5) inset, 5px -6px 6px rgba(0,0,0,0.3) inset;

     background-color: #ffffff;
     width: 100%;
 }
 100% {
     box-shadow:5px 6px 6px rgba(255,255,255,0.2), 10px 11px 10px rgba(255,255,255,0.5) inset, 5px -6px 6px rgba(0,0,0,0.3) inset;

     background-color: #ffffff;
     width:0%;
 }
 }

 @-o-keyframes bg-color-opening-right {
 0% {
     box-shadow:5px 6px 6px rgba(255,255,255,0.2), 10px 11px 10px rgba(255,255,255,0.5) inset, 5px -6px 6px rgba(0,0,0,0.3) inset;

     background-color: #ffffff;
     width: 100%;
 
}
 100% {
     box-shadow:5px 6px 6px rgba(255,255,255,0.2), 10px 11px 10px rgba(255,255,255,0.5) inset, 5px -6px 6px rgba(0,0,0,0.3) inset;

     background-color: #ffffff;
     width:0%;
}
}

 @-ms-keyframes bg-color-opening-right {
 0% {
     box-shadow:5px 6px 6px rgba(255,255,255,0.2), 10px 11px 10px rgba(255,255,255,0.5) inset, 5px -6px 6px rgba(0,0,0,0.3) inset;

     background-color: #ffffff;
     width: 100%;
}
 100% {
     box-shadow:5px 6px 6px rgba(255,255,255,0.2), 10px 11px 10px rgba(255,255,255,0.5) inset, 5px -6px 6px rgba(0,0,0,0.3) inset;

     background-color: #ffffff;
     width:0%;
}
}



@-moz-keyframes bg {
 0% {
background-image:url(../img/star.svg);
 }
 100% {
background-image:url(../img/star2.svg);
     
 }
 }

 @-webkit-keyframes bg {
 0% {
background-image:url(../img/star.svg);
 }
 100% {
background-image:url(../img/star2.svg);
     
 }
 }

 @-o-keyframes bg {
 0% {
background-image:url(../img/star.svg);
 }
 100% {
background-image:url(../img/star2.svg);
     
 }
 }

 @-ms-keyframes bg {
 0% {
background-image:url(../img/star.svg);
 }
 100% {
background-image:url(../img/star2.svg);
     
 }
 }

@-moz-keyframes bg_jun {
 0% {
 }
 100% {
font-size: 0.3em;
     
 }
 }

 @-webkit-keyframes bg_jun {
 0% {

 }
 100% {
font-size: 0.3em;
 }
 }

 @-o-keyframes bg_jun {
 0% {
 }
 100% {
font-size: 0.3em;
     
 }
 }

 @-ms-keyframes bg_jun {
 0% {
 }
 100% {
font-size: 0.3em;
     
 }
 }

/* Positions */
#logo { 

}


@media screen and (max-width: 35.375em) {
	.demo-loading .headline h1 {
		font-size: 1.4em;
	}
}

@media screen and (max-width: 30em) {
	.related {
		font-size: 0.8em;
	}
}

#contents {
    width: 60%;
    float: left;
    margin: 0px;
    padding: 0px;
    
}
#sidebar {
    width: 40%;
    float: right;
    margin: 0px;
    padding: 0px;
}
#footer {
    text-align: center;
    clear: both;
}
#side1 {
    width: 50%;
    float: left;
    margin: 0px;
    padding: 0px;
}
#side2 {
    width: 50%;
    float: right;
    margin: 0px;
    padding: 0px;
}

@media (min-width: 50em) {
    #contents {
        width: 60%;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    #sidebar {
        width: 40%;
        float: right;
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
    }
    #footer {
        text-align: center;
        clear: both;
    }
    #side1 {
        width: 50%;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    #side2 {
        width: 50%;
        float: right;
        margin: 0px;
        padding: 0px;
    }
}@media (min-width: 50em) and (max-width: 61.250em) {
    #contents {
        width: 70%;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    #sidebar {
        width: 30%;
        float: right;
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
    }
    #footer {
        text-align: center;
        clear: both;
    }
    #side1 {
        width: 100%;
        height: auto;
        float: none;
        margin: 0px;
        padding: 0px;
    }
    #side2 {
        width: 100%;
        height: auto;
        float: none;
        margin: 0px;
        padding: 0px;
    }
/* The "tablet" and "mobile" version */
} @media (max-width: 49.938em) {
    #contents {
        width: 100%;
        float: none;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    #sidebar {
        width: 100%;
        float: none;
        margin: 0px;
        padding-left: 10px;
    }
    #footer {
        text-align: center;
        clear: both;
    }
    #side1 {
        width: 48%;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    #side2 {
        width: 48%;
        float: right;
        margin: 0px;
        padding: 0px;
    }
/* CSS specific to the 2x3 columns version */
} @media (min-width:32.5em) and (max-width: 49.938em) {
/* Adapting the font size and width for smaller screns*/
} @media (min-width: 32.5em) and (max-width: 38.688em) {
} @media (max-width: 32.438em) {
    #contents {
        width: 100%;
        float: none;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    #sidebar {
        width: 100%;
        float: none;
        margin: 0px;
        padding-left: 10px;
    }
    #footer {
        text-align: center;
        clear: both;
    }
    #side1 {
        width: 95%;
        float: none;
        margin: 0px;
        padding: 0px;
    }
    #side2 {
        width: 95%;
        float: none;
        margin: 0px;
        padding: 0px;
    }
    .blocks {
        font-size: 1.25em;
        line-height: 1.25em;
    }
    .rocks2_2 {
        font-size: 1.25em;
        line-height: 1.25em;
    }
}

.fbcomments,
.fb_iframe_widget,
.fb_iframe_widget[style],
.fb_iframe_widget iframe[style],
.fbcomments iframe[style],
.fb_iframe_widget span{
	width: 100% !important;
}

.blocks{
	margin: 20px;
	padding: 10px;
	background-color: #eee;
	
}
.blocks_under { 
    
	width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
	padding: 5px;
	line-height: 1.5em;
    background-color: white;
    
  /*  background-position: center center;*/
/*   background-image: url(../img/top_mini_8.svg);*/
  /* 画像をタイル状に繰り返し表示しない */
/*  background-repeat: no-repeat;*/
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
/*    background-attachment: fixed;*/
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
      box-shadow:5px 6px 6px rgba(0,0,0,0.3), 10px 11px 10px rgba(255,255,255,0.5) inset, 20px -21px 21px rgba(255,255,255,0.2) inset, 0 0 0px 1px rgba(0,0,0,1.0) inset;


}

.block-left {
	opacity: 1;
	-webkit-transform: translateX(-180px);
	-moz-transform: translateX(-180px);
	transform: translateX(-180px);
}

.block-right {
    width:100%;
    height: 100%;
	opacity: 1;
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}


.main-container {
    width: 100%;
}

