@font-face {
	font-family: 'rocks';
	src:url('../fonts/rocks.eot?pl1nam');
	src:url('../fonts/rocks.eot?#iefixpl1nam') format('embedded-opentype'),
		url('../fonts/rocks.woff?pl1nam') format('woff'),
		url('../fonts/rocks.ttf?pl1nam') format('truetype'),
		url('../fonts/rocks.svg?pl1nam#rocks') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'rocks';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-font:before {
	content: "\4e";
}

.icon-font2:before {
	content: "\45";
}

.icon-font3:before {
	content: "\57";
}

.icon-font4:before {
	content: "\53";
}

.icon-home3:before {
	content: "\e902";
}

.icon-pencil:before {
	content: "\e905";
}

.icon-quill:before {
	content: "\e907";
}

.icon-file-text2:before {
	content: "\e926";
}

.icon-search:before {
	content: "\e986";
}

.icon-cog:before {
	content: "\e994";
}

.icon-cogs:before {
	content: "\e995";
}

.icon-lab:before {
	content: "\e9aa";
}

.icon-sun:before {
	content: "\e9d4";
}

.icon-contrast:before {
	content: "\e9d5";
}

.icon-brightness-contrast:before {
	content: "\e9d6";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-star-half:before {
	content: "\e9d8";
}

.icon-star-full:before {
	content: "\e9d9";
}

.icon-wink:before {
	content: "\e9e7";
}

.icon-wink2:before {
	content: "\e9e8";
}

.icon-shocked:before {
	content: "\e9f1";
}

.icon-shocked2:before {
	content: "\e9f2";
}

.icon-baffled:before {
	content: "\e9f3";
}

.icon-baffled2:before {
	content: "\e9f4";
}

.icon-previous:before {
	content: "\ea18";
}

.icon-next:before {
	content: "\ea19";
}

.icon-backward:before {
	content: "\ea1a";
}

.icon-forward2:before {
	content: "\ea1b";
}

.icon-circle-up:before {
	content: "\ea41";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-down:before {
	content: "\ea43";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-mail:before {
	content: "\ea83";
}

.icon-mail2:before {
	content: "\ea84";
}

.icon-mail4:before {
	content: "\ea86";
}

.icon-star:before {
	content: "\e600";
}

.icon-mail3:before {
	content: "\e601";
}

.icon-vynil:before {
	content: "\e602";
}

